In [30]:
# general
import pandas as pd
import numpy as np
from datetime import datetime

In [31]:
# graphing
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import nltk
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
# importing data
dfReviewNew = pd.read_csv('/Users/zejiachen/Desktop/fall 2021/Voice of Customer/sampleData/reviewSample.csv')
mostPosReviews = pd.read_csv('/Users/zejiachen/Desktop/fall 2021/Voice of Customer/sampleData/mostPosReview.csv')
mostNegReviews = pd.read_csv('/Users/zejiachen/Desktop/fall 2021/Voice of Customer/sampleData/mostNegReview.csv')

In [3]:
# convert selected column to String
dfReviewNew[['reviewerID', 'asin', 'reviewText','summary']] = dfReviewNew[['reviewerID', 'asin', 'reviewText','summary']].astype(str)
mostNegReviews[['reviewerID', 'asin', 'reviewText','summary']] = mostNegReviews[['reviewerID', 'asin', 'reviewText','summary']].astype(str)
mostPosReviews[['reviewerID', 'asin', 'reviewText','summary']] = mostPosReviews[['reviewerID', 'asin', 'reviewText','summary']].astype(str)

In [28]:
## define a function for word-cloud
# change the value to black
def black_color_func(word, font_size, position,orientation,random_state=None, **kwargs):
    return("hsl(0,100%, 1%)")

def word_cloud(data, col: str):
    # term frenquency word cloud
    long_string = ','.join(list(data[col].values))

    wordcloud = WordCloud(font_path = '/Library/Fonts/Arial Unicode.ttf', background_color="white", width=3000, height=2000, max_words=250, collocations=False).generate(long_string)
    # set the word color to black
    wordcloud.recolor(color_func = black_color_func)
    # set the figsize
    plt.figure(figsize=[15,10])
    # plot the wordcloud
    plt.imshow(wordcloud, interpolation="bilinear")
    # remove plot axes
    plt.axis("off")

def word_cloudFreq(d: dict, maxword):
    wordcloud = WordCloud(font_path = '/Library/Fonts/Arial Unicode.ttf', background_color="white", width=3000, height=2000, max_words=maxword, collocations=False).generate_from_frequencies(d)
    # set the word color to black
    wordcloud.recolor(color_func = black_color_func)
    # set the figsize
    plt.figure(figsize=[15,10])
    # plot the wordcloud
    plt.imshow(wordcloud, interpolation="bilinear")
    # remove plot axes
    plt.axis("off")

In [33]:
english_stemmer = nltk.stem.SnowballStemmer('english')

class StemmedCountVectorizer(CountVectorizer):
    def build_analyzer(self):
        analyzer = super(StemmedCountVectorizer, self).build_analyzer()
        return lambda doc: ([english_stemmer.stem(w) for w in analyzer(doc)])

---
**Bad Words**

In [4]:
badWords = []
with open("negFeatureRefine.txt", "r") as f:
    for line in f:
        badWords.append(line.strip())

badWordsBigram = []
with open("negFeatureBigramRefine.txt", "r") as f:
    for line in f:
        badWordsBigram.append(line.strip())

In [5]:
print(badWords)
print(badWordsBigram)

['accident', 'annoy', 'awkward', 'bad', 'block', 'bore', 'bother', 'broke', 'broken', 'bummer', 'choke', 'complain', 'complaint', 'crap', 'crush', 'cut', 'danger', 'dead', 'defeat', 'defect', 'destroy', 'destruct', 'devil', 'die', 'difficult', 'dirt', 'disappear', 'disappoint', 'disgust', 'dismay', 'drag', 'drop', 'dud', 'dull', 'dumb', 'dump', 'embarrass', 'error', 'evil', 'fail', 'fake', 'fault', 'fight', 'forget', 'freak', 'gross', 'hard', 'hate', 'hell', 'hurt', 'lack', 'leak', 'lose', 'lost', 'low', 'lower', 'mad', 'meh', 'mess', 'miss', 'obsess', 'odd', 'overwhelm', 'pain', 'pay', 'piss', 'poor', 'problem', 'risk', 'ruin', 'sad', 'scare', 'scream', 'screw', 'serious', 'shake', 'shame', 'stink', 'stop', 'stuck', 'stupid', 'suck', 'suffer', 'trick', 'upset', 'useless', 'warn', 'weak', 'worn', 'worst', 'worthless', 'wrong']
['bad design', 'bad qual', 'bad th', 'big disappoint', 'bored quick', 'box crush', 'broke day', 'broke month', 'choking hazard', 'crayons broken', 'defeats purpos', 'dirt devil', 'disappointed don', 'disappointed product', 'disappointed purchas', 'disappointed qu', 'disappointed toy', 'falling apart', 'game disappoint', 'gets stuck', 'getting stuck', 'hard floor', 'hard open', 'hard tim', 'hate toy', 'little disappoint', 'loud annoy', 'missing piec', 'negative review', 'pay ship', 'poor design', 'poor qual', 'quality bad', 'quality poor', 'really difficult', 'really disappoint', 'really hard', 'son disappoint', 'stopped work', 'time disappoint', 'waste money', 'worst gam']

In [6]:
mostNegReviews.iloc[0][5]

'total waste of money. the stickers do not stick down even once\nit is just a tiny amount of stickers which do not work, and that is basically it. i thought the backgrounds would make this special but it just is tiny and does not work.\nmuch better to simply buy packs of stickers and use paper\nthe activity books in this series are better'

In [7]:
s = mostNegReviews.iloc[1][5]
print('choking hazard' in s)

False

In [8]:
print(any(word in s for word in badWords))

True

**Good Words**

In [96]:
goodWords = []
with open("posFeatureRefine.txt", "r") as f:
    for line in f:
        goodWords.append(line.strip())

In [98]:
print(goodWords)

['accept', 'accomplish', 'agreement', 'asset', 'astound', 'attract', 'award', 'benefit', 'best', 'better', 'bff', 'bless', 'bold', 'bonus', 'boost', 'brave', 'bright', 'brighten', 'brighter', 'brilliant', 'calm', 'care', 'champ', 'champion', 'charm', 'cheer', 'cherish', 'clean', 'clear', 'clever', 'comfort', 'compliment', 'cool', 'credit', 'curious', 'cute', 'cuter', 'cutest', 'dear', 'delight', 'diamond', 'eager', 'easier', 'easiest', 'enjoy', 'enlighten', 'entertain', 'enthusiasm', 'enthusiast', 'excel', 'expand', 'fab', 'fair', 'faith', 'fame', 'fan', 'fav', 'fave', 'favor', 'ff', 'fit', 'flawless', 'fond', 'free', 'freedom', 'fresh', 'friend', 'fun', 'funnest', 'funnier', 'funniest', 'gain', 'generous', 'gift', 'glad', 'glee', 'glorious', 'good', 'gorgeous', 'grace', 'grand', 'grant', 'great', 'greater', 'greatest', 'greet', 'grin', 'growth', 'ha', 'haha', 'hand', 'happier', 'heaven', 'help', 'helper', 'hero', 'highlight', 'holiday', 'honest', 'honor', 'hooray', 'hope', 'hug', 'huge', 'ideal', 'impress', 'intellect', 'interest', 'jewel', 'joy', 'keen', 'kind', 'kinder', 'kiss', 'laugh', 'laughter', 'like', 'lol', 'love', 'lover', 'luck', 'magnific', 'marvel', 'medal', 'merit', 'merrier', 'neat', 'nice', 'nicer', 'nicest', 'novel', 'perfect', 'perfectionist', 'play', 'pleasant', 'pleaser', 'popular', 'pray', 'precious', 'prettier', 'prettiest', 'pride', 'prize', 'profit', 'progress', 'protect', 'proud', 'recommend', 'relax', 'relief', 'respect', 'reward', 'rich', 'robust', 'safe', 'safer', 'save', 'smart', 'smarter', 'smartest', 'smile', 'smiley', 'special', 'strength', 'strengthen', 'strong', 'stronger', 'strongest', 'succeed', 'success', 'super', 'superb', 'superior', 'support', 'sure', 'survivor', 'sweet', 'talent', 'thank', 'thrill', 'treat', 'true', 'trust', 'truth', 'ty', 'vibrant', 'wealth', 'win', 'winner', 'wisdom', 'wise', 'wish', 'won', 'wow', 'xp', 'yay', 'yes']

---
### Subsetting review and product

In [9]:
mostNegReviews.shape

(642, 11)

In [10]:
column = ['reviewTime','asin', 'reviewText', 'summary']

In [11]:
negReviewProduct = pd.DataFrame(columns = column)
negReviewProduct.head()

Empty DataFrame
Columns: [reviewTime, asin, reviewText, summary]
Index: []

**ProductID associated with bad reviews**

In [12]:
for row in range(len(mostNegReviews.index)):
    if any(word in mostNegReviews.iloc[row][5] for word in badWords):
        negReviewProduct = negReviewProduct.append({'reviewTime': mostNegReviews.iloc[row][2], 
                                                    'asin': mostNegReviews.iloc[row][4], 
                                                    'reviewText': mostNegReviews.iloc[row][5],
                                                    'summary': mostNegReviews.iloc[row][6]}, ignore_index=True)

In [93]:
negReviewProduct.head()

,reviewTime,asin,reviewText,summary
0,2015-02-15,0486448789,they were ok but not really considered it a bo...,really small disappointed!
1,2015-12-26,0545561647,book is nice but pom poms never come out right...,book is nice but pom poms never come out right
2,2015-01-29,0545561647,book is ok. it was delivered in excellent cond...,book is definitely for 8 and up!
3,2014-01-12,0545561647,my daughter wanted this so badly. so she forke...,"so excited to try, difficult to execute"
4,2017-01-19,0641869665,"my son loves the books, but was very disappoin...",poorly made and will require needle/thread rep...

In [14]:
negReviewProductGroupBy = pd.DataFrame(negReviewProduct.groupby(['asin'])[['reviewText']].count())

In [81]:
negReviewProductGroupBy = negReviewProductGroupBy[negReviewProductGroupBy.reviewText > 10].sort_values(by=['reviewText'], ascending=False)

In [86]:
negReviewProductGroupBy['Product Name'] = ["Let's Go Fishin' Game", 
                                           "Foam Rockets and Toy Air Rocket Launcher", 
                                           "Mouse Trap", "Butterfly Growing Kit", 
                                           "Rechargeable Replacement Battery", "Bike", "Magic Cube"]

In [87]:
negReviewProductGroupBy

            reviewText                              Product Name
asin
B00004YO0Y          26                     Let's Go Fishin' Game
B00000K3BR          15  Foam Rockets and Toy Air Rocket Launcher
B00000DMFD          13                                Mouse Trap
B00000ISC5          13                     Butterfly Growing Kit
B00004TFT1          13          Rechargeable Replacement Battery
B000050B3H          13                                      Bike
B00004TFLB          11                                Magic Cube

In [80]:
for i in range(5):
    print('\n')
    print(negReviewProduct[negReviewProduct.asin == 'B00004YO0Y'].iloc[i][2])

this toy broke about an hour after it was opened.  it literally just stopped working.  we tried changing the batteries but that didn't fix it.  very disappointed.  my older son had a game like this when he was younger and it lasted for years.  i'm really beginning to believe toys aren't made as good as they used to be.  this toy turned out to be a piece of junk very quickly.


only worked for like 5 minutes before it got jammed. there was no sign of anything getting stuck so i guess its just defective one.


quality is terrible. one fish broke on first use. it's not made with magnets like i remember, now the teeth catch the hook things. the poles are cheap and the hooks are not on stings anymore just plastic rods. eh.


first time playing with it and the turntable stopped working. very disappointing. i guess that's why it was so cheap.


my grandson did like this game but it is very cheaply made and the fishing poles are horrible, i will be requesting a refund.

**Choking**

In [65]:
chocking = pd.DataFrame(columns = column)

In [66]:
for row in range(len(dfReviewNew.index)):
    if 'choking hazard' in dfReviewNew.iloc[row][5]:
        chocking = chocking.append({'reviewTime': dfReviewNew.iloc[row][2], 
                                                    'asin': dfReviewNew.iloc[row][4], 
                                                    'reviewText': dfReviewNew.iloc[row][5],
                                                    'summary': dfReviewNew.iloc[row][6]}, ignore_index=True)

In [68]:
chocking.head()

,reviewTime,asin,reviewText,summary
0,2016-08-10,1932855785,"since we homschool, i'm always looking for new...",great learning tool!
1,2012-03-01,1933054395,this game is like uno meets dominos.\ni gave t...,loving family game night again!
2,2001-11-25,B00000DMBB,this is another childhood favorite that has no...,"battle stations, everyone!"
3,2013-07-22,B00000DMFN,we bought this for my 5-year-old son. he playe...,as fun as i remember
4,2016-10-04,B00000DMF5,candy land is the perfect classic game for the...,the perfect classic game

In [69]:
chockingGroupBy = pd.DataFrame(chocking.groupby(['asin'])[['reviewText']].count())

In [89]:
chockingGroupBy = chockingGroupBy[chockingGroupBy.reviewText > 2].sort_values(by=['reviewText'], ascending=False)

In [90]:
chockingGroupBy

            reviewText
asin
B00000IWGQ           4
B00000DMD2           3
B00000J50C           3
B0000205X3           3
B00004WHO4           3
B00004YO0Y           3

In [91]:
chockingGroupBy['Product Name'] = ["Hasbro Hi Ho! Cherry-O Board Game", 
                                   "Toy Cash Register", 
                                   "Uncle Goose Classic ABC Blocks with Wagon", 
                                   "Kerplunk Classic Kids Game with Marbles", 
                                   "Melissa & Doug Magnetic Wooden Dinosaurs", "Let's Go Fishin' Game by Pressman"]

In [92]:
chockingGroupBy

            reviewText                               Product Name
asin
B00000IWGQ           4          Hasbro Hi Ho! Cherry-O Board Game
B00000DMD2           3                          Toy Cash Register
B00000J50C           3  Uncle Goose Classic ABC Blocks with Wagon
B0000205X3           3    Kerplunk Classic Kids Game with Marbles
B00004WHO4           3   Melissa & Doug Magnetic Wooden Dinosaurs
B00004YO0Y           3          Let's Go Fishin' Game by Pressman

---

In [94]:
mostPosReviews.shape

(18843, 11)

In [105]:
posProductGroupBy = pd.DataFrame(mostPosReviews.groupby(['asin'])[['reviewText']].count())

posProductGroupBy = posProductGroupBy.sort_values(by=['reviewText'], ascending=False)

In [109]:
posProductGroupBy_top = posProductGroupBy[:8]
posProductGroupBy_top

            reviewText
asin
0975277324         614
B00000K3BR         580
1933054395         370
B00004YO0Y         339
0976990709         338
B00003GPDU         318
B00000ISC5         292
B00000IZOU         283

In [112]:
posProductGroupBy_top['Product Name'] = ["Ticket to Ride Board Game", 
                                       "Stomp Rocket The Original Jr. Glow Rocket Launcher","Qwirkle Board Game", 
                                       "Let's Go Fishin' Game by Pressman", 
                                       "The Elf on the Shelf: A Christmas Tradition", 
                                         "Schylling Children's Ceramic Tea Set", 
                                         "Insect Lore - Butterfly Growing Kit", 
                                        "Fisher-Price Brilliant Basics Corn Popper"]

<ipython-input-112-95f2a7b956c2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  posProductGroupBy_top['Product Name'] = ["Ticket to Ride Board Game",

In [113]:
posProductGroupBy_top

            reviewText                                       Product Name
asin
0975277324         614                          Ticket to Ride Board Game
B00000K3BR         580  Stomp Rocket The Original Jr. Glow Rocket Laun...
1933054395         370                                 Qwirkle Board Game
B00004YO0Y         339                  Let's Go Fishin' Game by Pressman
0976990709         338        The Elf on the Shelf: A Christmas Tradition
B00003GPDU         318               Schylling Children's Ceramic Tea Set
B00000ISC5         292                Insect Lore - Butterfly Growing Kit
B00000IZOU         283          Fisher-Price Brilliant Basics Corn Popper