In [43]:
import json
import pandas as pd
import numpy as np
from datetime import datetime

In [63]:
# load the json file
reviews = []
i = 0
for line in open('/Users/zejiachen/Desktop/fall 2021/QTM385-DataAnalytics-Dataset/VoC/Toys_and_Games_5.json', 'r'):
    reviews.append(json.loads(line))
    i += 1
    if i > 35000:
        break

In [23]:
reviews[0]
print(len(reviews))

35001

In [64]:
dfReviews = pd.DataFrame(reviews)
dfReviews.reset_index(drop=True, inplace=True)

In [26]:
dfReviews.head()

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image
0,5.0,3,True,"10 6, 2013",A2LSCFZM2FBZK7,0486427706,{'Format:': ' Paperback'},Ginger,The stained glass pages are pretty cool. And i...,Nice book,1381017600,NaN
1,5.0,9,True,"08 9, 2013",A3IXP5VS847GE5,0486427706,{'Format:': ' Paperback'},Dragonflies &amp; Autumn Leaves,My 11 y.o. loved this...and so do I (you know ...,Great pictures,1376006400,NaN
2,5.0,NaN,True,"04 5, 2016",A1274GG1EB2JLJ,0486427706,{'Format:': ' Paperback'},barbara ann,"The pictures are great , I've done one and gav...","The pictures are great, I've done one and gave...",1459814400,NaN
3,5.0,3,True,"02 13, 2016",A30X5EGBYAZQQK,0486427706,{'Format:': ' Paperback'},Samantha,I absolutely love this book! Its translucent p...,So beautiful!,1455321600,NaN
4,5.0,NaN,True,"12 10, 2015",A3U6UNXLAUY6ZV,0486427706,{'Format:': ' Paperback'},CP in Texas,I love it!,Five Stars,1449705600,NaN

---
### Exploratory Analysis

In [92]:
dfReviews.dtypes

overall                  float64
vote                      object
verified                    bool
reviewTime        datetime64[ns]
reviewerID                object
asin                      object
style                     object
reviewerName              object
reviewText                object
summary                   object
unixReviewTime             int64
image                     object
dtype: object

In [65]:
# unique of products
print('numUniqueProduct: ' + str(dfReviews.asin.nunique()))

# unique customer 
print('numUniqueCustomer: ' + str(dfReviews.reviewerID.nunique()))

numUniqueProduct: 931
numUniqueCustomer: 28544

In [66]:
dfReviews['reviewTime'] =  pd.to_datetime(dfReviews['reviewTime'])

In [67]:
dfReviews.head()

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image
0,5.0,3,True,2013-10-06,A2LSCFZM2FBZK7,0486427706,{'Format:': ' Paperback'},Ginger,The stained glass pages are pretty cool. And i...,Nice book,1381017600,NaN
1,5.0,9,True,2013-08-09,A3IXP5VS847GE5,0486427706,{'Format:': ' Paperback'},Dragonflies &amp; Autumn Leaves,My 11 y.o. loved this...and so do I (you know ...,Great pictures,1376006400,NaN
2,5.0,NaN,True,2016-04-05,A1274GG1EB2JLJ,0486427706,{'Format:': ' Paperback'},barbara ann,"The pictures are great , I've done one and gav...","The pictures are great, I've done one and gave...",1459814400,NaN
3,5.0,3,True,2016-02-13,A30X5EGBYAZQQK,0486427706,{'Format:': ' Paperback'},Samantha,I absolutely love this book! Its translucent p...,So beautiful!,1455321600,NaN
4,5.0,NaN,True,2015-12-10,A3U6UNXLAUY6ZV,0486427706,{'Format:': ' Paperback'},CP in Texas,I love it!,Five Stars,1449705600,NaN

In [84]:
dfReviewNew = dfReviews.drop(columns=['verified', 'reviewerName', 'image', 'style', 'unixReviewTime'])
dfReviewNew.head()

,overall,vote,reviewTime,reviewerID,asin,reviewText,summary
0,5.0,3,2013-10-06,A2LSCFZM2FBZK7,0486427706,The stained glass pages are pretty cool. And i...,Nice book
1,5.0,9,2013-08-09,A3IXP5VS847GE5,0486427706,My 11 y.o. loved this...and so do I (you know ...,Great pictures
2,5.0,NaN,2016-04-05,A1274GG1EB2JLJ,0486427706,"The pictures are great , I've done one and gav...","The pictures are great, I've done one and gave..."
3,5.0,3,2016-02-13,A30X5EGBYAZQQK,0486427706,I absolutely love this book! Its translucent p...,So beautiful!
4,5.0,NaN,2015-12-10,A3U6UNXLAUY6ZV,0486427706,I love it!,Five Stars

In [85]:
dfReviewNew.head()

,overall,vote,reviewTime,reviewerID,asin,reviewText,summary
0,5.0,3,2013-10-06,A2LSCFZM2FBZK7,0486427706,The stained glass pages are pretty cool. And i...,Nice book
1,5.0,9,2013-08-09,A3IXP5VS847GE5,0486427706,My 11 y.o. loved this...and so do I (you know ...,Great pictures
2,5.0,NaN,2016-04-05,A1274GG1EB2JLJ,0486427706,"The pictures are great , I've done one and gav...","The pictures are great, I've done one and gave..."
3,5.0,3,2016-02-13,A30X5EGBYAZQQK,0486427706,I absolutely love this book! Its translucent p...,So beautiful!
4,5.0,NaN,2015-12-10,A3U6UNXLAUY6ZV,0486427706,I love it!,Five Stars

In [91]:
dfReviewNew.groupby(['overall'])['reviewerID'].count()

overall
1.0     1054
2.0     1046
3.0     2480
4.0     5214
5.0    25207
Name: reviewerID, dtype: int64

---
### Some NLP Analysis